[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/anngrg126
	owner = group user/ashaley24
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/anngrg126
	label-Code-Review = -2..+2 group user/ashaley24
	label-Verified = -1..+1 group user/anngrg126
	label-Verified = -1..+1 group user/ashaley24
	push = group user/anngrg126
	push = group user/ashaley24
	read = group user/anngrg126
	read = group user/ashaley24
	rebase = group user/anngrg126
	rebase = group user/ashaley24
	removeReviewer = group user/anngrg126
	removeReviewer = group user/ashaley24
	submit = group user/anngrg126
	submit = group user/ashaley24
[access "refs/heads/*"]
	create = group user/anngrg126
	create = group user/ashaley24
	push = +force group user/anngrg126
	push = group user/ashaley24
	pushMerge = group user/anngrg126
	pushMerge = group user/ashaley24
	read = group user/anngrg126
	read = group user/ashaley24
[access "refs/tags/*"]
	push = group user/anngrg126
	push = +force group user/anngrg126
	push = group user/ashaley24
